package pages

import "github.com/lepidoptera/lepidoptera/web/layouts"

templ Subscribe() {
	@layouts.Base("get on the list") {
		<section class="subscribe">
			<h1>get on the list.</h1>
			<p>enter your email and we'll let you know when new shows go up.</p>
			<form
				hx-post="/subscribe"
				hx-target="#subscribe-result"
				hx-swap="innerHTML"
			>
				<input
					type="email"
					name="email"
					placeholder="your@email.com"
					required
				/>
				<button type="submit">subscribe</button>
			</form>
			<div id="subscribe-result"></div>
		</section>
	}
}
